/* Common style for documentation nodes */

.codex-lambda-list {
    display: inline-block;
}

.codex-doc-node {
    border-left: 5px solid;
    display: block;
    padding: 15px;
}

.codex-doc-node > * {
    margin-bottom: 20px;
}

.codex-function {
    border-left-color: rgba(77, 119, 203, 0.7);
}

.codex-macro {
    border-left-color: rgba(153, 51, 204, 0.7);;
}

.codex-generic-function {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-method {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-class {
    border-left-color: rgba(224, 153, 82, 0.7);
}

.codex-slot > dd > * {
    margin-bottom: 10px;
}
