/* Common style for documentation nodes */

/* Layout */

.codex-doc-node > * {
    margin-top: 20px;
}

.codex-slot > dd > * {
    margin-bottom: 10px;
}

.codex-lambda-list, .codex-type-def {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
    font-size: 15px;
}

/* Style */

.codex-doc-node {
    border-left: 5px solid;
    display: block;
    padding: 0 15px 15px 15px;
}

.codex-name {
    font-weight: bold;
    font-size: 16px;
}

/* Documentation node colors */

.codex-function {
    border-left-color: rgba(77, 119, 203, 0.7);
}

.codex-macro {
    border-left-color: rgba(153, 51, 204, 0.7);;
}

.codex-generic-function {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-method {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-class {
    border-left-color: rgba(224, 153, 82, 0.7);
}
