{% extends "base.html" %}

{% block title %}
  {{ section-title }} &ndash; {{ document-title }}
{% endblock %}

{% block extra-head %}
  <link rel="stylesheet" href="static/highlight.css"/>
  <script src="static/highlight.js"></script>
{% endblock %}

{% block content %}
  <h1 class="doc-title">{{ document-title }} » {{ section-title }}</h1>
  <article>
    <aside>
      {{ toc | safe }}
    </aside>
    <main class="codex-section">
      {{ content | safe }}
    </main>
  </article>
  <footer>
    <div class="info">
      Created with <a href="https://github.com/CommonDoc/codex">Codex</a>.
    </div>
  </footer>
  <script>
   HighlightLisp.highlight_auto();
  </script>
{% endblock %}
