/* Traditional style */

body {
    font-family: serif;
    background: white;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

/* General layout */

body {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.doc-title {
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
}

article {
    flex: 1;
    display: flex;
    flex-direction: row;
}

article aside {
    width: 15%;
}

article main {
    width: 85%;
    min-height: 100vh;
    padding: 0 35px;
}

/* Separation between elements */

main > * {
    margin-bottom: 15px;
}

/* Lists */

dt {
    font-weight: bold;
}

dd {
    margin-top: 5px;
}

dd, li {
    margin-left: 40px;
}

/* Code */

code {
    font-family: monospace;
}

/* Tables */

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 6px;
}

tr:first-child td {
    text-align: center;
    font-weight: bold;
}

table, td, th {
    border: 1px solid black;
}


/* Footer */

footer {
    height: 80px;
    line-height: 80px;
}

footer .info {
    margin: 0 75px;
    text-align: right;
}
