body {
    width: 100%;
    min-height: 100vh;

    background: white;
    color: #333;
}

.doc-title {
    width: 70%;
    margin: 0 auto;

    height: 70px;
    line-height: 70px;
    padding: 0 25px;
}

article {
    flex: 1;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin: 0 auto;
    padding-top: 35px;

    border-top: 1px solid #ddd;
}

article aside {
    width: 25%;
}

article main {
    width: 75%;
    min-height: 100vh;
    padding: 0 35px;
}

main {
    font-size: 16px;
}

main > * {
    margin-bottom: 15px;
}

/* Lists */

dt {
    font-weight: bold;
}

dd {
    margin-top: 5px;
}

dd, li {
    margin-left: 40px;
}

/* Code */

code {
    font-family: monospace;
}

/* Tables */

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 6px;
}

tr:first-child td {
    text-align: center;
    font-weight: bold;
}

table, td, th {
    border: 1px solid black;
}


/* Footer */

footer {
    height: 80px;
    line-height: 80px;
}

footer .info {
    margin: 0 75px;
    text-align: right;
}
