{% extends "base.html" %}

{% block title %}
  {{ section-title }} &ndash; {{ document-title }}
{% endblock %}

{% block extra-head %}
  <link rel="stylesheet" href="static/highlight.css"/>
  <script src="static/highlight.js"></script>
  <script src="static/load-mathjax.js" async></script>
  <style>
   /* Highlight the current top-level TOC item, and hide the TOC of all other items */

   .toc a[data-node="{{ section-ref }}"] {
       /*color: #AD3108;*/
   }

   .toc ol {
       display: none;
   }

   .toc li a[data-node="{{ section-ref }}"] {
       font-weight: bold;
   }

   .toc li a[data-node="{{ section-ref }}"] + ol {
       display: block;
   }

   .toc li a[data-node="{{ section-ref }}"] + ol li {
       margin-left: 10px;
   }
  </style>
{% endblock %}

{% block content %}
  <h1 class="doc-title">{{ document-title }}</h1>
  <article id="article" data-section="{{ section-ref }}">
    <aside>
      {{ toc | safe }}
    </aside>
    <main class="codex-section">
      <header>
        <h2 class="section-title">{{ section-title }}</h2>
      </header>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
  </article>
  <footer>
    <div class="info">
      Created with <a href="https://github.com/CommonDoc/codex">Codex</a>.
    </div>
  </footer>
  <script>
   HighlightLisp.highlight_auto();
  </script>
{% endblock %}
