/* Min style */

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: "Poly", serif;
    background: white;
    color: #333;
    font-size: 1.2em;
}

/* General layout */

body {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

aside .toc {
    width: 25%;
    float: left;
}

main {
    width: 75%;
    min-height: 100vh;
    float: left;
    border-left: 1px solid #ccc;
    padding: 35px;
}

article {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lusitana", serif;
}

.codex-document, .codex-section {
    width: 60%;
    margin: 0 auto;
}

.codex-document-title {
    width: 60%;
    margin: 0 auto;
}

.codex-lambda-list {
    text-transform: lowercase;
    display: inline-block;
}

.codex-error, .codex-warning {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Separation between elements */

main > * {
    margin-bottom: 15px;
}

/* Lists */

dd, li {
    margin-left: 40px;
}

/* Code */

code {
    font-family: monospace;
}

/* Link Style */

a {
    color: #AD3108;
    text-decoration: none;
}

/* Records */

.codex-class {
    border-left: 5px solid #ccc;
    padding: 15px;
}

.codex-class .codex-name {
    display: block;
}

/* Docstrings */

.codex-docstring {
}

/* Table of Contents */

.toc {
    padding: 35px;
}

.toc a {
    color: #333;
    text-decoration: none;
    position: relative;
}

.toc li {
    list-style-type: none;
    font-size: 1.1em;
    margin-left: 0;
    margin-bottom: 10px;
}

/* Footer */

footer {
    height: 120px;
    line-height: 120px;
    background: #f9f9f9;
}

footer .info {
    margin: 0 75px;
    text-align: right;
}
