/* Min style */

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: "Poly", serif;
    background: white;
    color: #333;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lusitana", serif;
}

.codex-document, .codex-section {
    width: 60%;
    margin: 0 auto;
}

.codex-document-title, .codex-section-title {
    width: 60%;
    margin: 0 auto;
}

.codex-lambda-list {
    text-transform: lowercase;
    display: inline-block;
}

.codex-error, .codex-warning {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Separation between elements */

p, pre, main ol, ul, dl {
    margin-bottom: 15px;
}

/* Lists */

dd, li {
    margin-left: 40px;
}

/* Code */

code {
    font-family: monospace;
}

/* Link Style */

a {
    color: #AD3108;
    text-decoration: none;
}

/* Records */

.codex-class {
    border-left: 5px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
}

.codex-class .codex-name {
    display: block;
    margin-bottom: 10px;
}

/* Docstrings */

.codex-docstring {
    margin-bottom: 20px;
}

/* General layout */

body {
    width: 100%;
}

.toc {
    width: 20%;
    float: left;
}

main {
    width: 80%;
    float: left;
}

/* Table of Contents */

.toc {
    padding: 15px;
}
